/* Fonts */

@font-face {
    font-family: 'Bebas Neue';
    src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* General */

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Courier, 'Courier New', monospace;
}

h1 {
    font-family: 'Bebas Neue', Helvetica, sans-serif;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-family: 'Bebas Neue', Helvetica, sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    background-color: blue;
    color: white;
}

h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}

img {
    max-width: 100%;
}

em {
    font-style: italic;
    text-transform: uppercase;
}

/* Header */

header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    border-bottom: 2px solid black;
    background-color: yellow;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    max-height: 5.5rem;
    height: auto;
}


nav ul {
    display: none;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: #E500FA;
    text-align: center;
    border-bottom: 2px solid black;
}

nav li {
    display: inline-block;
    padding-top: 0.5rem;
    width: 22%;
    height: 100%;
    background-color: yellow;
    text-align: center;
    border: 1px solid black;
}

nav li a {
    color: black;
}

nav a.icon {
    display: block;
    position: absolute;
    right: 0.5rem;
    top: 2.5rem;
  }

/* main */

main {
    background-color: darkblue;
    color: white;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

main p {
    width: 80%;
    margin: 1rem auto;
    text-align: justify;
    font-size: 1.3rem;
}


/* about me */

#aboutsec {
    position: absolute;
    top: 6rem;
}

#about {
    background-color: white;
    color: black;
    padding-bottom: 1rem;
}

#about img,
#projects img {
    display: block;
    width: 80%;
    margin: 1rem auto;
    border-radius: 10%;
    border: 1px solid black;
}

/* projects */

#projectssec {
    position: absolute;
    margin-top: -6rem;
}


/* skills */

#skills {
    background-color: #E500FA;
}

#skillssec {
    position: absolute;
    margin-top: -6rem;
}

#skillimgs {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

#skillimgs figure {
    width: 26%;
    margin: 0.2rem;
    height: auto;
    vertical-align: middle;
}

#skillimgs figcaption {
    background-color: black;
    color: white;
    text-align: center;
    opacity: 0.8;
}

#skillimgs img {
    border: 0;
    margin: 0.2 auto;
}

/* contact */

#contact {
    background-color: white;
    text-align: center;
}

#contactsec {
    position: absolute;
    margin-top: -6rem;
}

#contact img {
    width: 15%;
    margin: 1rem;
}

#contact address {
    padding: 1rem;
}


/* footer */

footer {
    margin-top: -4rem;
    width: 100%;
    height: 3.5rem;
    text-align: right;
    border-top: 1px solid black;
    background-color: yellow;
}

footer img {
    position: absolute;
    left: 0;
    max-width: 30%;
    max-height: 3rem;
}

footer p {
    margin-top: 1rem;
    margin-right: 1rem;
}

/* Media queries */

@media only screen and (min-width: 700px){
    header img {
        margin-left: 1rem;
    }

    nav ul {
        width: 100%;
        background-color: transparent;
        border-bottom: 0;
        position: absolute;
        top: 2rem;
        display: inline-block;
        text-align: right;
    }
    
    nav li {
        width: auto;
        margin-right: 0.6rem;
        padding: 0.4rem;
        box-shadow: 2px 3px 2px black;
    }

    #button {
        display: none;
    }

}


@media only screen and (min-width: 1030px){
    header img {
        height: 5rem;
        width: auto;
    }

    nav li {
        margin-right: 1rem;
        padding: 0.6rem;
        box-shadow: 3px 4px 3px black;
        font-size: 1.3rem;
        transition: all 0.4s ease-in;
    }

    nav li:hover {
        background-color: white;
        box-shadow: 6px 6px 5px black;
    }

    main {
        display: grid;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, 10rem);
    }

    h1 {
        grid-area: 1 / 1 / span 1 / span 4;
    }

    /* About */

    #about {
        grid-area: 2 / 1 / 5 / 5;
        display: grid;
        align-items: center;
        grid-template-rows: 4rem 1fr;
        grid-template-columns: 40% 60%;
    }

    #about h2 {
        grid-area: 1 / 1 / span 1 / span 3;
        margin-bottom: 1rem;
    }

    #about img {
        max-width: 55%;
        height: auto;
        overflow: hidden;
    }

    /* Projects */
    
    #projects {
        grid-area: 5 / 1 / 14 / 5;
        display: grid;
        grid-template-rows: 4rem 1fr;
    }

    #projects h2 {
        grid-area: 1 / 1 / span 1 / span 2;
        align-self: center;
    }

    #projectbox {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(14, 4.5rem);
        margin-left: 5rem;
    }

    #finnishhead {
        z-index: 3;
        grid-area: 2 / 2 / span 1 / span 3;
        background-color: yellow;
        color: black;
        border: 1px solid black;
        align-self: start;
    }

    #finnishimg {
        z-index: 2;
        grid-area: 1 / 3 / 6 / 7;
    }

    #finnishimg:hover {
        filter: grayscale(100%);
    }

    #finnishtext {
        grid-area: 2 / 1 / 8 / 4;
        padding-top: 3rem;
        padding-right: 5.5rem;
        padding-left: 1rem;
        background-color: #E500FA;
        color: white;
        border: 1px solid black;
        text-align: left;
    }

    #harmonyhead {
        z-index: 3;
        grid-area: 9 / 2 / span 1 / span 3;
        background-color: #E500FA;
        color: white;
        align-self: start;
        border: 1px solid black;
    }

    #harmonyimg {
        z-index: 2;
        grid-area: 8 / 3 / 13 / 7;
    }

    #harmonyimg:hover {
        filter: grayscale(100%);
    }    

    #harmonytext {
        grid-area: 9 / 1 / 15 / 4;
        padding-top: 3rem;
        padding-right: 5.5rem;
        padding-left: 1rem;
        background-color: yellow;
        color: black;
        border: 1px solid black;
        text-align: left;
    }

    /* skills */

    #skills {
        grid-area: 14 / 1 / 20 / 5;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 4rem 1fr;
    }

    #skills h2 {
        grid-area: 1 / 1 / span 1 / span 5;
        align-self: center;
    }

    #skillimgs {
        margin-top: 1rem;
        display: grid;
        width: 90%;
        justify-items: center;
        grid-template-columns: repeat(5, 1fr);
    }

    #skillimgs figure img {
        margin: 10px;
        height: 150px;
        min-width: 150px;
        transition: height 1s, min-width 1s, margin 1s;
    }

    #skillimgs figure img:hover {
        height: 160px;
        min-width: 160px;
        margin: 0;
    }

    figcaption {
        visibility: hidden;
        position: relative;
        bottom: 120px;
        left: 30px;
        width: 100px;
        font-weight: bold;
    }


    /* contact */

    #contact {
        grid-area: 20 / 1 / 24 / 5;
        grid-template-rows: 4rem 1fr;
    }

    #contact img {
        width: 8%; 
    }

    #contact img,
    address {
        opacity: 0.6;
        transition: opacity 0.6s;
    }


    #contact img:hover,
    address:hover {
        opacity: 1;
    }

    /* footer */

    footer img {
        height: 3rem;
        width: auto;
    }

}

